<header role="banner" class="header">
  <nav class="nav nav--container">
    <div class="nav__logo-container">
      <a href="#"><img class="nav__logo" src="../../../../assets/images/logo.png" alt="logo Pokemon"></a>
    </div>
    <div *ngIf="favoritePokemon" (click)="getDetails(favoritePokemon)" class="nav__favorite-container">
      <div class="nav__favorite-pokemon">

        <div class="nav__texts-container">
          <h3 class="nav__favorite-title">Tu pokémon favorito es:</h3>
          <span class="nav__favorite-name">{{favoritePokemon.name | uppercase}}</span>
        </div>

        <div class="nav__favorite-img-container">
          <img class="nav__favorite-img"  [src]="favoritePokemon.sprites.front_default" alt="Imagen de {{favoritePokemon.name}}">
        </div>

      </div>
    </div>
  </nav>
</header>
