<section class="pokemon-list">
  <div class="pokemon-list__text-container">
    <img class="pokemon-list__pokeball" src="../../../../../assets/images/pokeball.png" alt="Imagen de pokeball">
    <div>
      <h2 class="pokemon-list__title">Pokémon List</h2>
      <p class="pokemon-list__text">Choose your favorite Pokémon </p>
    </div>
  </div>

  <table class="pokemon-list__table">
    <tbody>
      <ng-container
        *ngFor="let pokemon of pokemonList | paginate: {itemsPerPage: 5, currentPage: currentPage} | search: search">
        <app-pokemon-item [pokemon]="pokemon"></app-pokemon-item>
      </ng-container>
    </tbody>
  </table>

  <div class="pokemon-list__pagination">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</section>

