<h1>Listado Pokedex</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nº Pokedex</th>
      <th>Nombre</th>
      <th>Pokeimagen</th>
      <th>Favorito</th>
      <th>Ver detalle</th>
    </tr>
  </thead>
  <tbody >
      <ng-container *ngFor="let pokemon of pokemonList | paginate: {itemsPerPage: 5, currentPage: currentPage} | search: search">
        <app-pokemon-item [pokemon]="pokemon"></app-pokemon-item>
      </ng-container>
  </tbody>
</table>
</div>

<div class="text-center">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
