@use '../../../../../assets/_mixin';
@use '../../../../../assets/_reset';
@use '../../../../../assets/_variables';

.section-card{
  @include mixin.flexbox(row, center, center);
  width: 95%;
  height: calc(100vh - 272px);

  &__card{
    @include mixin.flexbox(column, center, end);
    background: variables.$cardBgPrimary;
    width: 100%;
    max-width: 25em;
    border-radius: 15px;
    height: 100%;
    max-height: 37.5em;
    position: relative;
    overflow: hidden;
    box-shadow: variables.$boxShadow;
  }
  &__img-container{
    position: absolute;
    overflow:visible;
    width: 15em;
    height: 15em;
    top: 0px;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  &__information {
    background-color: variables.$white;
    height: 25em;
    width: 100%;
  }
  &__name-container{
    background-color: variables.$purple;
    height: 3.1em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  &__name{
    font-size: 2.5rem;
    font-weight: 500;
    color: variables.$white;
  }
  &__details-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-content: center;
    padding: 40px;
  }
  &__type-container{
    grid-column: 1/2;
    justify-self: start;
  }
  &__span{
    display: block;
  }
  &__abilities-container{
    grid-column: 2/3;
    justify-self: end;
  }
  &__stats-container{
    grid-column: span 2;
    justify-self: start;
  }
  &__detail-title{
    background-color: variables.$purple;
    color: variables.$white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  &__stat-name{
    font-weight: 600;
    color: variables.$purple;
  }
  &__details-text--color{
    color: variables.$orange;
    font-weight: 600;
  }
}
