<section class="section-card" *ngIf="pokemonSelected"><!-- *ngIf="pokemonSelected" -->
  <div class="section-card__card">

    <picture class="section-card__img-container">
      <img class="section-card__img" [src]="pokemonSelected.sprites.front_default" alt="Imagen de {{pokemonSelected.name}}">
    </picture>

    <div class="section-card__information">

      <div class="section-card__name-container">
        <h2 class="section-card__name">{{pokemonSelected.name}}</h2>
      </div>

      <div class="section-card__details-container">
        <div class="section-card__type-container">
          <h3 class="section-card__detail-title">Tipo</h3>
          <ng-container *ngFor="let type of pokemonSelected.types">
            <span class="section-card__span section-card__details-text--color">{{ type.type.name | uppercase }}</span>
          </ng-container>
        </div>

        <div class="section-card__abilities-container">
          <h3 class="section-card__detail-title">Habilidades</h3>
          <ng-container *ngFor="let ability of pokemonSelected.abilities">
            <span class="section-card__span section-card__details-text--color">{{ ability.ability.name | uppercase }}</span>
          </ng-container>
        </div>

        <div class="section-card__stats-container">
          <h3 class="section-card__detail-title">Stats</h3>
          <div *ngFor="let stat of pokemonSelected.stats">
            <span class="section-card__stat-name">{{ stat.stat.name | uppercase }}: </span>
            <span class="section-card__details-text--color">{{ stat.base_stat }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
