@use '../../../../../assets/_mixin';
@use '../../../../../assets/_reset';

.rellenar {
  background-color: rgb(10, 196, 149);
  width: 100%;
  height: 150px;
  @include mixin.flexbox(row, center, start);
  padding-left: 20px;
}

.form-control{
  padding-left: 10px;
}
