@use '../../../../../assets/_mixin';
@use '../../../../../assets/_reset';
@use '../../../../../assets/_variables';

.input{
  margin-block: 2em;
  padding-left: 2em;
  width: 100%;
  outline: none;
  border-radius: 50px;
  border: none;
  height: 2.5em;
  box-shadow: variables.$boxShadow;
}
