@use '../assets/_reset';

html, body{
  font-family: 'Montserrat', sans-serif;;
}


.bg-page {
  background-image: linear-gradient(#181818c5, #505050), url('../assets/images/pokebg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
