<tr class="item" (click)="getDetails(pokemon)">
  <div class="item__pokedex-container">
    <td class="item__pokedex-text">Pokédex: {{ pokemon.id }}</td>
  </div>

  <div class="item__name-img-container">
    <td class="item__name">{{ pokemon.name | uppercase}}</td>

    <td class="item__img-container">
      <img [src]="pokemon.sprites.front_default" alt="Imagen de {{ pokemon.name }}">
    </td>
  </div>


  <button class="item__favorite-btn" type="button" (click)="setFavoritePokemon(pokemon)">
    <i class="fa-solid fa-star" style="color: #ffffff;"></i>
    <span class="item__favorite-text">Favorite</span>
  </button>

</tr>
