@use '../../../../../assets/_mixin';
@use '../../../../../assets/_reset';
@use '../../../../../assets/_variables';

.item{
  background-color: #DDD9E0;
  @include mixin.flexbox(row, center, space-between);
  color: variables.$black;
  border-radius: 40px;
  border: none;
  height: 6.25em;
  width: 100%;
  overflow: hidden;
  margin-block-end: 0.5em;
  box-shadow: variables.$boxShadow;
  cursor: pointer;
  &:hover{
    background-color: #b6b6b6;
  }
  &__pokedex-container{
    background-color: variables.$purpleLight;
    height: 100%;
    @include mixin.flexbox(row, center, center);
    width: 9.3em;
  }
  &__pokedex-text{
    color: variables.$white;
  }
  &__name-img-container{
    @include mixin.flexbox(row, center, center);
  }
  &__name{
    font-size: 1.5rem;
  }
  &__favorite-btn{
    background: variables.$gradientOrange;
    height: 100%;
    width: 6.25em;
    right: 0;
    cursor: pointer;
  }
  &__favorite-btn:hover{
    background: variables.$gradientOrangeLight;
  }
  &__favorite-text{
    display: block;
    color: variables.$white;
  }
}

