
/* COMMON COLORS */

$purpleLight: hsla(273, 86%, 37%, 0.78);
$purple: hsl(273, 86%, 37%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$boxShadow: 0px 3px 66px -18px rgba(0, 0, 0, 0.75);

/* CARD STYLES */

$cardBgPrimary: linear-gradient(hsla(273, 86%, 37%, 0.827), rgba(255, 255, 255, 0.788)),
url(../../../../../assets/images/bgdetails.jpg);
$cardBgSecondary: hsl(0, 0%, 53%);
$cardBgTitle: hsl(40, 80%, 63%);
$orange: hsl(15, 100%, 66%);
$purple: hsl(273, 86%, 37%);

/* FAVORITE POKEMON */

$bgFavoritePokemon: linear-gradient(#ffffffd3, #dddddd);

/* ITEM POKEMON */

$gradientOrangeLight: linear-gradient(to right, #e25729, #e04816);
$gradientOrange: linear-gradient(to right, #FF7C51, #e04816);
